<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DriverType" value="Chrome" /><!--Available values: Edge, Chrome, Firefox-->
		<add key="Headless" value="false"/><!--Available values: true, false-->
		<add key="WindowWidth" value="1280"/><!--Available values: px-->
		<add key="WindowHeight" value="1280"/><!--Available values: px-->
		<add key="ImplicitWaitTime" value="3000"/><!--Available values: FromMilliseconds-->
		<add key="ExplicitWaitTime" value="5000"/><!--Available values: FromMilliseconds-->
	
		<add key="EdgeLocation" value=""/><!--Available values: Path to exe OR empty string-->
		<add key="FirefoxLocation" value=""/><!--Available values: Path to exe OR empty string-->
		<add key="ChromeLocation" value=""/><!--Available values: Path to exe OR empty string--><!--C:\Program Files\Google\Chrome\Application\chrome.exe-->
	</appSettings>
</configuration>