<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IsEnabled" value="false" /><!--Available values: true, false-->
		
    <add key="Mobile" value="true" /><!--Available values: true, false-->
    <add key="Width" value="600" /><!--Available values: px-->
    <add key="Height" value="1280" /><!--Available values: px-->
    <add key="DeviceScaleFactor" value="75" /><!--Available values: 1-100-->
	</appSettings>
</configuration>