<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EnableProxy" value="false"/><!--Available values: true, false-->
		
		<add key="Host" value="someproxy"/>
		<add key="Port" value="3120"/>
		<add key="UserName" value="qwerty"/>
		<add key="Password" value="12345"/>
	</appSettings>
</configuration>